/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

/* .cover-art {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 5s linear forwards;
  z-index: 9999;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
} */

.icon {
  max-height: 100px;
  padding: 2%;
}


body {
  display: flex;
  flex-direction: column;
  position: relative;
  /* font-family: 'VT323', monospace; */
  font-family: 'Pixelify Sans', sans-serif; /* Use 'Pixelify Sans' as the preferred font */
  font-size: 40px;
}

h1 {
  color: #333;
}




#topUI {
  min-height: 85px;
  display: flex;
  justify-content: space-between;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@ notification @@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#notification-box {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999; /* Ensure it's on top */
}

.notification {
  background-color: lightskyblue;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  padding-right: 25px; /* Adjust the value as needed */
  z-index: 9998; /* Ensure it's on top */

}
.achievement-message1 {
  font-weight: bold;
}

.achievement-message2 {
  font-style: italic;
  color: black;
}


.close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f44336;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 9999; /* Ensure it's on top of the notification */
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@ MAIN INTERFACE @@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#mainUI {
  display: flex;
}
#leftUI {
  border: solid red 1px;
  min-width: 50%;
}




#rightUI {
  border: solid blue 2px;
  min-width: 50%;
}

#click-button {
  padding: 20px 30px;
  font-size: 45px;
  background-color: #5055ee;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-family: 'Pixelify Sans', sans-serif; /* Use 'Pixelify Sans' as the preferred font */
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@ motivation + stats @@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

  #job-applications {
    font-size: 150px;
    margin: 20px;
  }
  #job-applications-text {
    font-size: 25px;
    margin: 20px;
  }
  

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@ job posting @@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.job-posting-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.job-title {
  font-weight: bold;
}

.job-company {
  color: #555;
}

#job-postings {
  margin-top: 20px;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@ update shop @@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#shop {
  border: solid red 1px;
}

#autoApplications {
  display: flex;
  flex-direction: column;
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
}

.item-name {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.item-cost, .item-cps  {
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
}

.item-count {
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  margin-top: 5px;
  align-self: flex-end;
}

