/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

/* .cover-art {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 5s linear forwards;
  z-index: 9999;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
} */

#playTestInfo {
  font-size: 25px;
  border: red solid 2px;
}

.icon {
  max-height: 95px;
  max-width: 95px;
  min-width: 95px;
  padding: 2%;
}

.shop-icon {
  min-height: 130px;
  min-width: 130px;
}

.banner {
  height: 3.5vh;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  /* font-family: 'VT323', monospace; */
  font-family: 'Pixelify Sans', sans-serif; /* Use 'Pixelify Sans' as the preferred font */
  font-size: 25px;
  overflow: hidden;
  margin: 0;

}

h1 {
  color: black;
  padding: 0 10% 0 10%;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@ LAYOUT OF PAGE @@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#topUI {
  min-height: 5.5vh;
  display: flex;
  justify-content: space-between;
}

#mainUI {
  display: flex;
  min-height: 94.5vh;
}

#leftUI, #centerUI, #rightUI {
  border: solid red 1px;
  min-width: 33%;
  max-height: 94.5vh; 
}

#leftUI, #rightUI  {
  overflow-y: auto; 
}

#topCenterUI {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40.5vh;
}

#bottomCenterUI {
  /* border: solid red 1px; */
  height: 54vh; 
  overflow-y: auto; 
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@ stats & click button @@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#click-button {
  margin-top: 1vh;
  padding: 20px 30px;
  font-size: 3.5vh;
  background-color: #5055ee;
  /* max-width: 40%; */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-family: 'Pixelify Sans', sans-serif;
  transition: transform 0.1s;
}

#click-button:hover {
  transform: scale(0.99);
  filter: brightness(90%);
  /* opacity: 50%; */
  /* background: black; */
}

#click-button:active {
  transform: scale(0.96);
  filter: brightness(85%);
}

#job-applied {
  font-size: 15vh;
  /* margin: 0 0 0.5vh; */
}
#job-applied-text {
  font-size: 25px;
  /* margin: 1.5vh; */
}






/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@ job postings @@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.first-posting{
animation: blinker 1.75s infinite;
/* color: red; */
}

@keyframes blinker {
  0% {
    background-color: #f9f9f9;
  }
  
  50% {
    background-color: lightgrey;
  }
  
  100% {
    background-color: #f9f9f9;
  }
}





/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@ achievements page @@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#achievements-trigger, #achievements-page {
  border: blue 2px solid;
  background-color: white;
}

#achievements-page {
  position: fixed;
  max-width: 80%;
  min-width: 80%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; /* Ensure it's on top */
}






















/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@ notification @@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


#notification-box {
  /* position: fixed; */
  /* max-width: 35%; */
  /* min-width: 35%; */
  /* top: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  z-index: 9999; /* Ensure it's on top */
}

.notification {
  display: flex;
  background-color: lightskyblue;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  /* text-align: center; */
  position: relative;
  padding-right: 25px;
  z-index: 9998; 
  animation: fadeFromBottom 1s ease-in-out;
}

.notification-close {
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Animation for fade effect from the bottom */
@keyframes fadeFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px); /* Adjust distance from the bottom as needed */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-container{
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.message1 {
  font-size: 22px;
  font-weight: bold;
}

.message2 {
  font-style: italic;
  font-size: 18px;
  color: black;
}


.close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f44336;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 9999;
}


  

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@ job posting @@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.job-posting-item {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  /* margin-top: 20px; */
  background-color: #f9f9f9;
}


.job-title {
  font-weight: bold;
}

.job-company {
  color: #555;
}
.job-location {
  color: #555;
  font-size: 24px;
}
.job-pay {
  color: #555;
  font-size: 24px;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@ update shop @@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* #autoApplications {
  display: flex;
  flex-direction: column;
} */

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 25px;
  transition: transform 0.1s;
}


.shop-item:hover {
  filter: brightness(90%);
}

.shop-item:active {
  transform: scale(0.96);
  filter: brightness(85%);
}


#click-button:hover {
  transform: scale(0.99);
  /* filter: brightness(90%); */
}

#click-button:active {
  transform: scale(0.96);
  filter: brightness(85%);

}



.item-name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.item-cost, .item-cps  {
  font-size: 25px;
  text-align: center;
  margin-top: 5px;
}

.item-count {
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  margin-top: 5px;
  align-self: flex-end;
}

